:root{
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
    --ligth: #f9f9f9;
    --blue: #006ECE;
    --ligth-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaa;
    --dark: #342e37;
    --red: #db504a;
    --yellow: #ffce26;
    --ligth-yellow: #fff2c6;
    --color-gray: #E6E6E6;
    --white: #FFF;
}

li{
    list-style: none;
}

ul{
    list-style: none;
}
#sidebar{
    height: 100%; 
    width: 100%;
    /* border: 2px solid red; */
} 

.cirulos-chart{
    width: 99%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12%;

}

@media (max-width: 758px){
    .cirulos-chart{
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        /* border: 2px solid  wheat; */
        justify-content:space-evenly;
        gap: 40px;
    }

}

#sidebar .side-menu{
    display: flex;
    background-color: var(--color-gray);
    border-radius: 18px;
    width: 95%;
    height: 61px;
    padding: 1% 2% 2% 1%;
    gap: 30%;
    align-items:center;
    justify-content:center;
}

#sidebar .side-menu li .nav .text{ 
    color: #5F5F5F;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 80;
    line-height: normal;
    
} 


#sidebar .side-menu li a.active{
    padding-top: 25%;
    padding-bottom: 25%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 7%;
    background: #FFF;
}

#sidebar .side-menu li a.active .text{
    color: #006ECE;
}


.nav{
    /* margin-right: 2%; */
    text-decoration: none;
}

@media (min-width: 758px){
    #siderbar{
        height: 100%; 
        width: 100%;
    }
    #sidebar .side-menu{
        display: flex;
        background-color: var(--color-gray);
        border-radius: 18px;
        width: 30%;
        height: 50px;
        margin: 2%;
        padding: 0%;
        justify-content:center;
        align-items:center;
        /* display: none; */
    }
    
    #sidebar .side-menu li .nav .text{ 
        width: auto;
        font-size:0.9rem;
    }

    #sidebar .side-menu li a.active{
        background: #FFF;
        padding-left: 35%;
        padding-right: 35%;
        padding-top: 18%;
        padding-bottom: 18%;
        border-radius: 0.625rem;
    }
    
    #sidebar .side-menu li a.active .text{
        color: #006ECE;
    }
}